.navbar{
padding-left: 5%;
}

.paralax_section{
    width: 100%;
    height: 450px;
    position: relative;
    background-image: url(./img/starsBG2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 180px;
}
.paralax_section h2{
    color: black;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    transition: .3s;
}
.paralax_section:hover h2{
    color: white;
    text-shadow: 0 0 10px white, 0 0 10px white;
    letter-spacing: 2px;
}
.links_section{
    background-color: #212529;
    width: 100%;
    height: 200px;
    padding: 50px;
}
.links_section .section_div{
    width: 50%;
    margin:auto;
    display: flex;
    justify-content: space-around;
}
.links_section .section_div .section_div--link{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    transition: .3s;
    box-sizing: border-box;
}
.links_section .section_div .section_div--link a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    color: #fff;
}
.links_section .section_div .section_div--link a img{
    width: 100%;
    height: 100%;
}
.links_section .section_div .section_div--link:hover{
    transform: scale(1.2);
}
/*styles form*/
.pform{
    margin-bottom: 2px;
}
.entradas{
    height: 35px;
    background: rgb(104, 102, 202);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1px;
    border: 1px solid #46c834;
    font-family: 'calibri';
    font-size: 16px;
    color: white;
}
#btn_iniciarSesion{
    height: 35px;
    padding: 5px;
    margin-top: 25px;
    margin-left: 10px;
}
#link_crearCuenta{
    display: flex;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -15px;
}
#link_crearCuenta:hover{
    text-decoration: underline;
}
/*reloj*/
.reloj{
    height: 60px;
    margin-right: 80px;
    display: inline-block;
    background: #d1dae3;
    color: #71767f;
    font-family: sans-serif;
    padding: 5px;
    font-weight: bold;
    font-size: 30px;
    border-radius: 4px;
    border: 4px solid #cad3dc;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.5),
                10px 10px 10px rgba(0, 0, 0, 0.5);
                inset: -8px -8px 15px rgba(255,255,255,0.5);
                inset: 10px 10px 10px rgba(0,0,0,0.5);
}



